<?xml version="1.0" encoding="UTF-8"?>

<?include Definitions.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.MsiVersion)"
           Manufacturer="Microsoft Corporation"
           UpgradeCode="{15DD7544-D406-4329-BAE3-61014399DF93}">

    <Package InstallerVersion="350" Compressed="yes" InstallScope="perMachine" Id="*" Platform="x64" />
    <MajorUpgrade AllowDowngrades="no" RemoveFeatures="ALL"
                  Schedule="afterInstallInitialize"
                  DowngradeErrorMessage="A later version of $(var.ProductName) is already installed. Setup will now exit."/>

    <MediaTemplate EmbedCab="yes" />
    <?include Feature.wxi ?>
  </Product>

  <Fragment>
    <?include InstallFolder.wxi ?>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="ProductAssemblies" Guid="{9C717F8F-4A97-4FA5-8031-5A180467754D}" Win64="yes">
        <?include "$(var.SourceDir)\Setup\CommonAssemblies.wxi" ?>
        <!-- For remote we must include C++ runtime as VS may not be installed -->
        <?ifdef Debug?>
        <File Source="$(var.LibDir)\vcruntime140d.dll" />
        <?else?>
        <File Source="$(var.LibDir)\vcruntime140.dll" />
        <?endif?>
      </Component>
    </DirectoryRef>
    <?include RtvsPackage.wxi ?>

    <!--<?ifdef LabBuild?>
    <?include LocalizedResources.wxi ?>
    <?endif?>-->
  </Fragment>
</Wix>
