[submodule "src/Host/Process"]
    path = src/Host/Process
    url = https://github.com/Microsoft/R-Host
    branch=Release/1_3
[submodule "src/Linux/Lib/picojson"]
    path = src/Linux/Lib/picojson
    url = https://github.com/kazuho/picojson
