<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="NugetPackages" />
  </config>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="NuGet V3" value="https://api.nuget.org/v3/index.json" />
    <add key="VS DevCore" value="https://www.myget.org/F/vs-devcore/api/v3/index.json" />
    <add key="VS Editor" value="https://www.myget.org/F/vs-editor/api/v3/index.json" />
    <add key="VS IW" value="https://dotnet.myget.org/F/interactive-window/api/v3/index.json" />
  </packageSources>
</configuration>
