<?xml version="1.0" encoding="UTF-8"?>

<?include Definitions.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.MsiVersion)"
           Manufacturer="Microsoft Corporation"
           UpgradeCode="{8182DB42-032F-407E-9FB1-6ADC301C7BA4}">

    <Package InstallerVersion="350" Compressed="yes" InstallScope="perMachine" Id="*"/>

    <MajorUpgrade AllowDowngrades="yes" RemoveFeatures="ALL" Schedule="afterInstallInitialize"/>
    <MediaTemplate EmbedCab="yes" />

    <Property Id="VS_ROOT_FOLDER" Secure="yes">
      <RegistrySearch Id="VSRootSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\$(var.VsVersion)\Setup\VS" Name="ProductDir" Type="raw" />
    </Property>

    <Feature Id="ProductFeature" Title="$(var.ProductName)">
      <ComponentRef Id="ProductAssemblies" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="VSFolder" Name="Microsoft Visual Studio $(var.VsVersion)">
          <Directory Id="VS_ROOT_FOLDER">
            <Directory Id="VSCommonFilesFolder" Name="Common7">
              <Directory Id="CommonIdeFolder" Name="IDE">
                <Directory Id="ExtensionsFolder" Name="Extensions">
                  <Directory Id="MicrosoftFolder" Name="Microsoft">
                    <Directory Id="INSTALLFOLDER" Name="R Tools for Visual Studio">
                    </Directory>
                  </Directory>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="ProductAssemblies" Guid="{AFE50A8E-1F80-409E-A14C-6D940625C78F}" >
        <File Source="$(var.BinDir)\Microsoft.R.Host.exe" />
        <File  Source="$(var.BinDir)\zip.dll" />
        <File Source="$(var.BinDir)\$(var.ZlibName).dll" />
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>
