<?xml version="1.0" encoding="UTF-8"?>

<?include Definitions.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="{83BA6F08-ACC3-4A57-9A2C-9DFBC0F03AD2}"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.MsiVersion)"
           Manufacturer="Microsoft Corporation"
           UpgradeCode="{A33F0FD0-820C-4846-BB8C-4B40D4015A70}">

    <Package InstallerVersion="350" Compressed="yes" InstallScope="perMachine" />

    <Icon Id ="ControlPanelIcon" SourceFile="RFile.ico" />
    <Property Id="ARPPRODUCTICON" Value="ControlPanelIcon" />

    <!-- Uninstall Current MSI -->
    <Upgrade Id="{A33F0FD0-820C-4846-BB8C-4B40D4015A70}">
      <UpgradeVersion IncludeMinimum="yes" Minimum="1.0.0.0" Property="VS_R_TOOLS" RemoveFeatures="ALL" />
    </Upgrade>

    <MediaTemplate EmbedCab="yes" />

    <!-- Search for shared root "MS VS XX.X" folder-->
    <Property Id="VS_ROOT_FOLDER" Secure="yes">
      <RegistrySearch Id="VSRootSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\$(var.VSRegVer)\Setup\VS" Name="ProductDir" Type="raw" />
    </Property>

    <!-- MDD detection key that is used by the secondary installer -->
    <Feature Id="RToolsDetection">
      <Component Id="RToolsDetectionKey" Directory="TARGETDIR">
        <RegistryValue Root="HKLM" Key="Software\Microsoft\VisualStudio\$(var.VSRegVer)\Setup\VS\RTVS" Name="Installed" Type="integer" Value="1" />
      </Component>
    </Feature>

    <Feature Id="RToolsVersion">
      <Component Id="RToolsVersionKey" Directory="TARGETDIR">
        <RegistryValue Root="HKLM" Key="Software\Microsoft\VisualStudio\$(var.VSRegVer)\Setup\VS\RTVS" Name="Version" Type="string" Value="$(var.MsiVersion)" />
      </Component>
    </Feature>

    <CustomAction Id='VS2015UpdateConfiguration'
              Directory='CommonIdeFolder'
              Execute="deferred"
              Impersonate="no"
              ExeCommand='[CommonIdeFolder]devenv.exe /UpdateConfiguration'
              Return='ignore' />

    <CustomAction Id='VS2015InstallTemplates'
              Directory='CommonIdeFolder'
              Execute="deferred"
              Impersonate="no"
              ExeCommand='[CommonIdeFolder]devenv.exe /InstallVSTemplates'
              Return='ignore'/>

    <UI>
      <ProgressText Action="VS2015InstallTemplates">Updating Visual Studio project templates... (this may take a few minutes).</ProgressText>
    </UI>

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
      <Custom Action="VS2015InstallTemplates" Before="InstallFinalize" />
      <Custom Action="VS2015UpdateConfiguration" Before="InstallFinalize" />
    </InstallExecuteSequence>

    <?include Feature.wxi ?>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="VSFolder" Name="Microsoft Visual Studio $(var.VSRegVer)">
          <Directory Id="VS_ROOT_FOLDER">
            <Directory Id="VSCommonFilesFolder" Name="Common7">
              <Directory Id="CommonIdeFolder" Name="IDE">
                <Directory Id="ExtensionsFolder" Name="Extensions">
                  <Directory Id="MicrosoftFolder" Name="Microsoft">
                    <Directory Id="INSTALLFOLDER" Name="R Tools for Visual Studio">

                      <?ifdef LabBuild?>
                      <Directory Id="CHS_Satellites" Name="zh-cn" />
                      <Directory Id="CHT_Satellites" Name="zh-tw" />
                      <Directory Id="CSY_Satellites" Name="cs" />
                      <Directory Id="DEU_Satellites" Name="de" />
                      <Directory Id="ESN_Satellites" Name="es" />
                      <Directory Id="FRA_Satellites" Name="fr" />
                      <Directory Id="ITA_Satellites" Name="it" />
                      <Directory Id="JPN_Satellites" Name="ja" />
                      <Directory Id="KOR_Satellites" Name="ko" />
                      <Directory Id="PLK_Satellites" Name="pl" />
                      <Directory Id="PTB_Satellites" Name="pt" />
                      <Directory Id="RUS_Satellites" Name="ru" />
                      <Directory Id="TRK_Satellites" Name="tr" />
                      <?endif?>

                    </Directory>
                  </Directory>
                </Directory>
                <Directory Id="ItemTemplatesFolder" Name="ItemTemplates">
                  <Directory Id="ItemTemplatesInstallFolder" Name="R">
                    <?foreach Lcid in $(var.LcidList)?>
                    <Directory Id="ItemTemplatesInstallFolder_$(var.Lcid)" Name="$(var.Lcid)" />
                    <?endforeach?>
                  </Directory>
                </Directory>
                <Directory Id="ProjectTemplatesFolder" Name="ProjectTemplates">
                  <Directory Id="ProjectTemplatesInstallFolder" Name="R">
                    <?foreach Lcid in $(var.LcidList)?>
                    <Directory Id="ProjectTemplatesInstallFolder_$(var.Lcid)" Name="$(var.Lcid)" />
                    <?endforeach?>
                  </Directory>
                </Directory>
                <Directory Id="ProfilesFolder" Name="Profiles" />
              </Directory>
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="MSBuildFolder" Name="MSBuild">
          <Directory Id="MSBuildMicrosoftFolder" Name="Microsoft">
            <Directory Id="MSBuildMicrosoftVisualStudioFolder" Name="VisualStudio">
              <Directory Id="MSBuildMicrosoftVisualStudioVersionFolder" Name="v$(var.VSRegVer)">
                <Directory Id="MSBuildRTVSFolder" Name="RTVS">
                  <Directory Id="CpsRulesInstallFolder" Name="Rules" />
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

  </Fragment>

  <Fragment>
    <?include Assemblies.wxi ?>
    <?include CpsRules.wxi ?>
    <?include ItemTemplates.wxi ?>
    <?include ProjectTemplates.wxi ?>
    <?include Profiles.wxi ?>

    <!--<?ifdef LabBuild?>
    <?include LocalizedResources.wxi ?>
    <?endif?>-->
  </Fragment>

</Wix>
