<?xml version="1.0" encoding="UTF-8"?>

<?include Definitions.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.MsiVersion)"
           Manufacturer="Microsoft Corporation"
           UpgradeCode="{A33F0FD0-820C-4846-BB8C-4B40D4015A70}">

    <Package InstallerVersion="350" Compressed="yes" InstallScope="perMachine" Id="*"/>
    <MajorUpgrade AllowDowngrades="no" RemoveFeatures="ALL"
                  Schedule="afterInstallInitialize"
                  DowngradeErrorMessage="A later version of $(var.ProductName) is already installed. Setup will now exit."/>

    <MediaTemplate EmbedCab="yes" />

    <!-- Search for shared root "MS VS XX.X" folder-->
    <Property Id="VS_ROOT_FOLDER" Secure="yes">
      <RegistrySearch Id="VSRootSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\$(var.VsVersion)\Setup\VS" Name="ProductDir" Type="raw" />
    </Property>

    <!-- RTVS detection key that is used by the secondary installer -->
    <Feature Id="RToolsDetection">
      <Component Id="RToolsDetectionKey" Directory="TARGETDIR">
        <RegistryValue Root="HKLM" Key="Software\Microsoft\VisualStudio\$(var.VsVersion)\Setup\VS\RTVS" Name="Installed" Type="integer" Value="1" />
      </Component>
    </Feature>

    <Feature Id="RToolsVersion">
      <Component Id="RToolsVersionKey" Directory="TARGETDIR">
        <RegistryValue Root="HKLM" Key="Software\Microsoft\VisualStudio\$(var.VsVersion)\Setup\VS\RTVS" Name="Version" Type="string" Value="$(var.MsiVersion)" />
      </Component>
    </Feature>

    <Binary Id="CustomActions" SourceFile="$(var.OutDir)\SetupCustomActions.CA.dll" />

    <CustomAction Id='VS2015UpdateConfiguration'
              Directory='CommonIdeFolder'
              Execute="deferred"
              Impersonate="no"
              ExeCommand='[CommonIdeFolder]devenv.exe /UpdateConfiguration'
              Return='ignore' />

    <CustomAction Id='VS2015InstallTemplates'
              Directory='CommonIdeFolder'
              Execute="deferred"
              Impersonate="no"
              ExeCommand='[CommonIdeFolder]devenv.exe /InstallVSTemplates'
              Return='ignore'/>

    <CustomAction Id='UpdateMefCatalog'
      BinaryKey='CustomActions'
      DllEntry='UpdateMefCatalogAction'
      Execute="immediate"
      Return='check'/>

    <CustomAction Id='VsCommunityInstallPrompt'
          BinaryKey='CustomActions'
          DllEntry='VsCommunityInstallAction'
          Execute="immediate"
          Return='check'/>

    <CustomAction Id='ShowMicrosoftROfferings'
          BinaryKey='CustomActions'
          DllEntry='ShowMicrosoftROfferingsAction'
          Execute="immediate"
          Return='ignore'/>

    <UI>
      <ProgressText Action="VS2015InstallTemplates">Updating Visual Studio project templates... (this may take a few minutes).</ProgressText>
    </UI>

    <InstallExecuteSequence>
      <Custom Action="VsCommunityInstallPrompt" Before="InstallFiles">NOT Installed</Custom>
      <Custom Action="ShowMicrosoftROfferings" After="InstallFinalize">NOT Installed</Custom>
      <Custom Action="VS2015InstallTemplates" Before="InstallFinalize" />
      <Custom Action="VS2015UpdateConfiguration" Before="InstallFinalize" />
      <Custom Action="UpdateMefCatalog" Before="InstallFinalize">NOT Installed</Custom>
    </InstallExecuteSequence>

    <?include Feature.wxi ?>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="VSFolder" Name="Microsoft Visual Studio $(var.VsVersion)">
          <Directory Id="VS_ROOT_FOLDER">
            <Directory Id="VSCommonFilesFolder" Name="Common7">
              <Directory Id="CommonIdeFolder" Name="IDE">
                <Directory Id="ExtensionsFolder" Name="Extensions">
                  <Directory Id="MicrosoftFolder" Name="Microsoft">

                    <Directory Id="SqlFolder" Name="SQLDB">
                      <Directory Id="SqlExtensionsFolder" Name="Extensions">
                        <Directory Id="SqlServerFolder" Name="SqlServer">
                          <Directory Id="SqlItemTemplatesFolder" Name="ItemTemplates">
                            <Directory Id="SqlRTemplatesFolder" Name="SQL R" />
                          </Directory>
                          <Directory Id="SqlItemsFolder" Name="Items" />
                        </Directory>
                      </Directory>
                    </Directory>

                    <Directory Id="INSTALLFOLDER" Name="R Tools for Visual Studio">

                      <?ifdef LabBuild?>
                      <Directory Id="CHS_Satellites" Name="zh-cn" />
                      <Directory Id="CHT_Satellites" Name="zh-tw" />
                      <Directory Id="CSY_Satellites" Name="cs" />
                      <Directory Id="DEU_Satellites" Name="de" />
                      <Directory Id="ESN_Satellites" Name="es" />
                      <Directory Id="FRA_Satellites" Name="fr" />
                      <Directory Id="ITA_Satellites" Name="it" />
                      <Directory Id="JPN_Satellites" Name="ja" />
                      <Directory Id="KOR_Satellites" Name="ko" />
                      <Directory Id="PLK_Satellites" Name="pl" />
                      <Directory Id="PTB_Satellites" Name="pt" />
                      <Directory Id="RUS_Satellites" Name="ru" />
                      <Directory Id="TRK_Satellites" Name="tr" />
                      <?endif?>

                      <Directory Id="TemplatesFolder" Name="Templates">
                        <Directory Id="NewItemTemplatesFolder" Name="NewItem" />
                      </Directory>

                      <Directory Id="HelpFolder" Name="Help">
                        <Directory Id="HelpThemesFolder" Name="Themes" />
                      </Directory>

                      <Directory Id="HiddenProfilesFolder" Name="Profiles" />

                      <Directory Id="SnippetsFolder" Name="Snippets">
                        <Directory Id="SnippetsAnalysisFolder" Name="analysis" />
                        <Directory Id="SnippetsDatasetsFolder" Name="datasets" />
                        <Directory Id="SnippetsDistributionsFolder" Name="distributions" />
                        <Directory Id="SnippetsFlowFolder" Name="flow" />
                        <Directory Id="SnippetsGraphicsFolder" Name="graphics" />
                        <Directory Id="SnippetsOperatorsFolder" Name="operators" />
                        <Directory Id="SnippetsRodbcFolder" Name="rodbc" />
                        <Directory Id="SnippetsMrsAnalysisFolder" Name="mrs-analysis" />
                        <Directory Id="SnippetsMrsChunkingFolder" Name="mrs-chunking" />
                        <Directory Id="SnippetsMrsComputeContextFolder" Name="mrs-computeContext" />
                        <Directory Id="SnippetsMrsDataFolder" Name="mrs-data" />
                        <Directory Id="SnippetsMrsDistributedFolder" Name="mrs-distributed" />
                        <Directory Id="SnippetsMrsGraphicsFolder" Name="mrs-graphics" />
                        <Directory Id="SnippetsMrsTransformsFolder" Name="mrs-transforms" />
                      </Directory>
                    </Directory>

                  </Directory>
                </Directory>

                <Directory Id="ItemTemplatesFolder" Name="ItemTemplates">
                  <Directory Id="ItemTemplatesInstallFolder" Name="R">
                    <Directory Id="ItemTemplatesInstallFolder_DatasetRD" Name="DatasetRD" />
                    <Directory Id="ItemTemplatesInstallFolder_EmptyRD" Name="EmptyRD" />
                    <Directory Id="ItemTemplatesInstallFolder_EmptyRMD" Name="EmptyRMD" />
                    <Directory Id="ItemTemplatesInstallFolder_FunctionRD" Name="FunctionRD" />
                    <Directory Id="ItemTemplatesInstallFolder_RScript" Name="RScript" />
                    <Directory Id="ItemTemplatesInstallFolder_RSettings" Name="RSettings" />
                    <Directory Id="ItemTemplatesInstallFolder_SqlQuery" Name="SqlQuery" />
                    <Directory Id="ItemTemplatesInstallFolder_SqlSProc" Name="SqlSProc" />
                    <Directory Id="ItemTemplatesInstallFolder_TextFile" Name="TextFile" />
                    <Directory Id="ItemTemplatesInstallFolder_WebHtmlPage" Name="WebHtmlPage" />
                    <Directory Id="ItemTemplatesInstallFolder_WebStyleSheet" Name="WebStyleSheet" />
                    <Directory Id="ItemTemplatesInstallFolder_XMLFile" Name="XMLFile" />
                    <Directory Id="ItemTemplatesInstallFolder_XMLSchema" Name="XMLSchema" />
                    <Directory Id="ItemTemplatesInstallFolder_XSLTFile" Name="XSLTFile" />
                  </Directory>
                </Directory>

                <Directory Id="ProjectTemplatesFolder" Name="ProjectTemplates">
                  <Directory Id="ProjectTemplatesInstallFolder" Name="R">
                    <Directory Id="ProjectTemplatesInstallFolder_EmptyProject" Name="EmptyProject" />
                  </Directory>
                </Directory>

                <Directory Id="ProfilesFolder" Name="Profiles" />
              </Directory>
            </Directory>
          </Directory>
        </Directory>

        <Directory Id="MSBuildFolder" Name="MSBuild">
          <Directory Id="MSBuildMicrosoftFolder" Name="Microsoft">
            <Directory Id="MSBuildMicrosoftVisualStudioFolder" Name="VisualStudio">
              <Directory Id="MSBuildMicrosoftVisualStudioVersionFolder" Name="v$(var.VsVersion)">
                <Directory Id="MSBuildRTVSFolder" Name="RTVS">
                  <Directory Id="CpsRulesInstallFolder" Name="Rules" />
                  <Directory Id="MSBuildTargetsInstallFolder" Name="Targets" />
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

    </Directory>
  </Fragment>

  <Fragment>
    <?include Assemblies.wxi ?>
    <?include FileNewTemplates.wxi ?>
    <?include CpsRules.wxi ?>
    <?include MSBuildTargets.wxi ?>
    <?include ItemTemplates.wxi ?>
    <?include ProjectTemplates.wxi ?>
    <?include SqlTemplates.wxi ?>
    <?include Profiles.wxi ?>
    <?include Themes.wxi ?>
    <?include RtvsPackage.wxi ?>
    <?include Associations.wxi ?>
    <?include Snippets.wxi ?>

    <!--<?ifdef LabBuild?>
    <?include LocalizedResources.wxi ?>
    <?endif?>-->
  </Fragment>

</Wix>
