<?xml version="1.0" encoding="utf-8"?>
<!--
*********************************************************

Copyright (c) Microsoft. All rights reserved.

*********************************************************
-->
<!-- Original Source: \\cpvsbuild\drops\dev14\Main\raw\current\sources\SetupAuthoring\PayloadGroups\commonvsmanaged_ux.wxs-->
<!-- Last Sync Date: 05/07/2015 -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:dd="http://schemas.microsoft.com/wix/2005/01/dd">
  <Fragment>

    <WixVariable Id="WixMbaPrereqPackageId" Value="netfxfullredist_43" />
    <WixVariable Id="WixMbaPrereqLicenseUrl" Value="http://go.microsoft.com/fwlink/?LinkId=517873" />

    <!--
            This list of persisted variables must stay in sync with the list
            found in: setup\vssetup\setupexe\Burn\Ux\ManagedUx\Engine\VariableId.cs
    -->
    <Variable Name="AdminMetadataStore" Persisted="yes" />
    <Variable Name="CustomInstallPath" Persisted="yes" />
    <Variable Name="IsWebBundle" Persisted="yes" />
    <Variable Name="LastGoodSource" Persisted="yes" />
    <Variable Name="MetricsStore" Persisted="yes" />
    <Variable Name="RebootCount" Persisted="yes" />
    <Variable Name="RebootRequested" Persisted="no" Type="numeric" Value="0" />
    <Variable Name="StateStore" Persisted="yes" />
    <Variable Name="CEIPConsent" Persisted="yes" />
    <Variable Name="NoCacheOnlyMode" Persisted="yes" />
    <Variable Name="SkipAppidSetup" Persisted="yes" />
    <Variable Name="CurrentRepairPackage" Persisted="yes" />
    <Variable Name="SqmOption" Persisted="yes" />
    <Variable Name="IsInstalled" Persisted="yes" />
    <Variable Name="ExecuteSecondaryInstaller" Persisted="yes" Type="numeric" Value="0" />
    <Variable Name="SecondaryInstallerParameters" Persisted="yes" />
    <Variable Name="UnmappedOriginalSourceFolder" Persisted="yes" />
    <Variable Name="SecondaryInstallerDynamicItems" Persisted="yes" />
    <Variable Name="BundleProgressKey" Persisted="yes" />

    <Variable Name="VSEIPAndPrivacyFwlinkId" Persisted="yes" Value="517873" />
    <Variable Name="ProfessionalVSVersion" Persisted="yes" Value="$(var.CompatibleVsVersion)" />

    <dd:CustomErrorHandling>
      <!--MSU Return Codes-->
      <!--0x8024800c-->
      <CustomError ReturnCode="-2145091572" Delay="1" Limit="3" ReregisterMsi="no" />

      <!--0x8024001e WU_E_SERVICE_STOP -->
      <!--Recommended by WinSE to re-try with this setting -->
      <!-- Wait for 5 seconds for the shutdown to complete first -->
      <CustomError ReturnCode="-2145124322" Delay="5" Limit="3" ReregisterMsi="no" />

      <!--0x80070003 ERROR_FILE_NOT_FOUND -->
      <!--Recommended by WinSE to re-try with this setting -->
      <!--Intentionally not retrying more than once since this is a general return code by other packages as well-->
      <CustomError ReturnCode="-2147024893" Delay="1" Limit="1" ReregisterMsi="no" />

      <!--0x80240017 WU_E_NOT_APPLICABLE -->
      <!--Recommended by WinSE to re-try with this setting -->
      <CustomError ReturnCode="-2145124329" Delay="5" Limit="6" ReregisterMsi="no" />

      <!--0x80240016 is special handled in the ManagedUx -->

      <!--0x16-->
      <CustomError ReturnCode="22" Delay="1" Limit="3" ReregisterMsi="no" />

      <!--0x80240009-->
      <CustomError ReturnCode="-2145124343" Delay="1" Limit="3" ReregisterMsi="no" />

      <!--0x09-->
      <CustomError ReturnCode="9" Delay="1" Limit="3" ReregisterMsi="no" />
      <!--1618 is special handled in the ManagedUx -->

      <CustomError ReturnCode="1601" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1303" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1304" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1306" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1307" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1309" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1310" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1311" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1312" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1316" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1317" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1321" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1335" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1402" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1406" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1606" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1706" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1719" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1723" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1923" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1931" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1935" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="1937" Delay="1" Limit="1" ReregisterMsi="yes" />
      <CustomError ReturnCode="1603" MsiErrorMessage="25543" Delay="1" Limit="1" ReregisterMsi="no" />
    </dd:CustomErrorHandling>

    <PayloadGroup Id="commonvsmanaged_ux">
      <Payload SourceFile="$(var.DDWixExtDir)\ManagedUx.dll" Compressed="yes" />
      <Payload SourceFile="$(var.DDWixExtDir)\Microsoft.VS.PlatformInstaller.DynamicFeed.dll" Compressed="yes" />
      <Payload SourceFile='UXResources\BootstrapperCore.config' Compressed="yes" />
      <Payload SourceFile='UXResources\HighContrastThemes.xaml' Compressed="yes" />
      <Payload SourceFile="$(var.DDWixExtDir)\sqmapi.dll" Name="sqmapi.dll" Compressed="yes" />
      <Payload SourceFile="$(var.DDWixExtDir)\Microsoft.VisualStudio.Telemetry.dll" Name="Microsoft.VisualStudio.Telemetry.dll" Compressed="yes" />
      <Payload SourceFile="$(var.DDWixExtDir)\System.Threading.dll" Name="System.Threading.dll" Compressed="yes" />
      <Payload SourceFile="$(var.DDWixExtDir)\Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Compressed="yes" />
      <Payload SourceFile="$(var.DDWixExtDir)\Microsoft.ApplicationInsights.dll" Name="Microsoft.ApplicationInsights.dll" Compressed="yes" />
      <Payload SourceFile="$(var.DDWixExtDir)\Microsoft.ApplicationInsights.Telemetry.Services.dll" Name="Microsoft.ApplicationInsightsTelemetry.Services.dll" Compressed="yes" />
      <Payload SourceFile="$(var.DDWixExtDir)\Microsoft.Diagnostics.Tracing.EventSource.dll" Name="Microsoft.Diagnostics.Tracing.EventSource.dll" Compressed="yes" />

      <!-- Alway include the ENU LocalizableStrings.xml when shipping multiple languages It is at the root-->
      <Payload SourceFile="UXResources\LocalizableStrings.xml" Name="LocalizableStrings.xml" Compressed="yes" />
    </PayloadGroup>
  </Fragment>
</Wix>