<?xml version="1.0" encoding="UTF-8"?>

<?include ..\Setup\Definitions.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:dd="http://schemas.microsoft.com/wix/2005/01/dd">

  <Bundle
           Name="$(var.ProductName)"
           Manufacturer="Microsoft Corporation"
           Version="$(var.MsiVersion)"
           UpgradeCode="{165B6EF9-D111-4435-8BDC-604AA21BF8C9}"
           IconSourceFile="..\Setup\RFile.ico">

    <WixVariable Id="BundleLanguage" Value="1033"/>

    <Variable Name="EditionDisplayName"
              Persisted="yes"
              Value="$(var.ProductName)" />

    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <PayloadGroupRef Id="commonvsmanaged_ux"/>
      <PayloadGroupRef Id="rtvs_ux"/>

      <dd:MappingStore>
        <SelectableItem DefinitionId="RTVSPackageSelectableItemId" DefaultInstallStateOverride="install" />
        <SelectableItem DefinitionId="MROItemDefinitionId" DefaultInstallStateOverride="install" />
      </dd:MappingStore>
      <!--<SelectableItem DefinitionId="VSItemDefinitionId" DefaultInstallStateOverride="install" />-->

    </BootstrapperApplicationRef>

    <dd:UxConfiguration>
      <BundleInformation ShortName="R Tools For Visual Studio"
                         BuildBranch="Main"
                         BuildNumber="$(var.MsiVersion)" />

      <UserExperienceDataCollection Policy="always" ShowCheckbox="False" />
      <BlockOn>
        <Process Name="devenv"
                 Type="Warn"
                 Description="#loc.DevEnvProcesssBlock" />
      </BlockOn>

    </dd:UxConfiguration>

    <?include VSDetection.wxi?>
    
    <!-- Require VS 2015 Update 1 -->
    <dd:Blocker ShortName="VsCommUpdateBlock" Type="Stop" Condition="Community_VersionKey &lt; v14.0.24720"
                DisplayText="R Tools require Visual Studio 2015 Update 1 or higher." />

    <dd:Blocker ShortName="Win64Block" Type="Stop" Condition="NOT VersionNT64"
                DisplayText="R Tools for Visual Studio require 64-bit Windows." />

    <!--<dd:Blocker ShortName="MinimumOSLevel" Type="Stop" Condition="(VersionNT &lt; v6.1)" DisplayText="R Tools for Visual Studio require Windows 7 or higher." />-->
    <!--<dd:Blocker ShortName="VsInstalledBlock" Type="Stop" Condition="( NOT ((Professional_DetectKey = 1) OR (Community_DetectKey = 1) OR (Enterprise_DetectKey = 1)) ) AND (CurrentOperation = &quot;Install&quot;)"
                DisplayText="R Tools require Visual Studio 2015." />-->

    <Chain>
      <MsiPackage SourceFile="$(var.BinDir)\RTVS.msi" />
      <MsiPackage Id="RHost" SourceFile="$(var.BinDir)$(var.RHostMsi)"
                  Compressed="no" DownloadUrl="https://ptvs.blob.core.windows.net/temp/$(var.RHostMsi)" />
      <!--<PackageGroupRef Id="RTVSPackageId" />
      <PackageGroupRef Id="MROPackageId" />
      <!-- <PackageGroupRef Id="VsCommunityId" />-->
    </Chain>
  </Bundle>

  <Fragment>
    <PackageGroup Id="RTVSPackageId">
      <MsiPackage Id="RTVSPackageId" SourceFile="$(var.BinDir)\RTVS.msi" />
    </PackageGroup>

    <PackageGroup Id="MROPackageId">
      <ExePackage Id="MROPackageId"
                  Vital="no"
                  Name="MRO-3.2.3-win.exe"
                  Compressed="no"
                  InstallCommand="/q"
                  PerMachine="yes"
                  DownloadUrl="https://mran.revolutionanalytics.com/install/mro/3.2.3/MRO-3.2.3-win.exe">
        <RemotePayload Description="MRO for Windows 3.2.3 Setup"
                       ProductName="MRO for Windows 3.2.3"
                       Size="55000000"
                       Version="3.2.3.19752"
                       Hash="a6e9ec1443cfb1cc8997cd67d877d37d2fbb433e"/>
      </ExePackage>
    </PackageGroup>

    <!--<PackageGroup Id="VsCommunityId">
      <ExePackage Id="VsCommunityId"
              Vital="yes"
              Name="vs_community_ENU.exe"
              Compressed="no"
              PerMachine="yes"
              DownloadUrl="https://go.microsoft.com/fwlink/?LinkId=691978&amp;clcid=0x409">
        <RemotePayload Description="Visual Studio Setup Bootstrapper"
                       ProductName="Visual Studio"
                       Size="210000"
                       Version="14.0.5827.17676"
                       Hash="a6e9ec1443cfb1cc8997cd67d877d37d2fbb433e"/>
      </ExePackage>
    </PackageGroup>-->
  </Fragment>

  <Fragment>
    <dd:SelectableItemDefinition Id="RTVSPackageSelectableItemId"
                                 DisplayName="R Tools for Visual Studio"
                                 Description="R Tools for Visual Studio 2015."
                                 DefaultInstallState="install">
      <PackageId Id="RTVSPackageId" />
    </dd:SelectableItemDefinition>

    <dd:SelectableItemDefinition Id="MROItemDefinitionId"
                                 DisplayName="Microsoft Open R"
                                 Description="Microsoft R Open (MRO) is the enhanced distribution of R from Microsoft Corporation. MRO is a complete open source platform for statistical analysis and data science."
                                 DefaultInstallState="install">
      <PackageId Id="MROPackageId" />
    </dd:SelectableItemDefinition>

    <!--<dd:SelectableItemDefinition Id="VSItemDefinitionId"
                                 DisplayName="Visual Studio 2015"
                                 Description="A free, fully-featured, and extensible IDE for creating modern applications for Windows, Android, and iOS, as well as web applications and cloud services."
                                 DefaultInstallState="install">
      <PackageId Id="VsCommunityId" />
    </dd:SelectableItemDefinition>-->
  </Fragment>
</Wix>