[Unit]
Description=Remote R Service
Documentation=man:rtvsd(8)
Documentation=https://www.visualstudio.com/vs/rtvs/

[Service]
Type=simple 
ExecStart=/usr/bin/rtvsd
StandardOutput=null
Restart=on-failure
User=rtvssvc
Group=rtvssvc

[Install]
Alias=rtvsd.service