<?xml version="1.0" encoding="UTF-8"?>

<?include Definitions.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Product Id="*"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.MsiVersion)"
           Manufacturer="Microsoft Corporation"
           UpgradeCode="{15DD7544-D406-4329-BAE3-61014399DF93}">

    <Package InstallerVersion="350" Compressed="yes" InstallScope="perMachine" Id="*" Platform="x64" />
    <MajorUpgrade AllowDowngrades="no" RemoveFeatures="ALL"
                  Schedule="afterInstallInitialize"
                  DowngradeErrorMessage="A later version of $(var.ProductName) is already installed. Setup will now exit."/>

    <MediaTemplate EmbedCab="yes" />
    <?include Feature.wxi ?>

    <PropertyRef Id="NETFRAMEWORK40CLIENTINSTALLROOTDIR"/>
    
    <!-- Set seclogon service to autostart -->
    <CustomAction Id='SecLogonServiceAutoStart'
              Directory='INSTALLFOLDER'
              Execute="deferred"
              Impersonate="no"
              ExeCommand="sc config seclogon start=auto"
              Return='ignore' />
    
    <InstallExecuteSequence>
      <ScheduleReboot After="InstallFinalize"/>
      <Custom Action="SecLogonServiceAutoStart" Before="InstallFinalize"/>
    </InstallExecuteSequence>
  </Product>

  <Fragment>
    <?include InstallFolder.wxi ?>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="ProductAssemblies" Guid="{9C717F8F-4A97-4FA5-8031-5A180467754D}" Win64="yes">
        <?include "Assemblies.wxi" ?>
      </Component>
      
        <!-- Remote R User Profile service installer -->
      <Component Id="RemoteRUserProfile" Guid="{7C54EB44-130F-4D8A-A9C5-2EBB96F9F359}" Win64="yes">
        <File Source="$(var.BinDir)\Microsoft.R.Host.UserProfile.exe" />
        <File Source="$(var.BinDir)\Microsoft.R.Host.UserProfile.exe.config" />
        <ServiceInstall Id="UserProfileServiceInstaller" Type="ownProcess" Vital="yes" Name="RUserProfileService" DisplayName="R User Profile Service"
                        Description="Creates Windows User profile for users connecting via R Host Broker" Start="auto" Account="LocalSystem"
                        ErrorControl="critical" Interactive="no" >
          <util:PermissionEx User="Authenticated Users" ServiceStart="yes" ServiceStop="yes" ServicePauseContinue="yes"
              ServiceInterrogate="yes" ServiceChangeConfig="no" ServiceEnumerateDependents="yes" ServiceQueryConfig="yes"
              ServiceQueryStatus="yes" ServiceUserDefinedControl="yes" />
          <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="reboot"/>
        </ServiceInstall>
        <ServiceControl Id="UserProfileServiceUninstall" Name="RUserProfileService" Remove="uninstall" Stop="uninstall"/>
        <util:EventSource Log="Application" Name="RUserProfileService" EventMessageFile="[NETFRAMEWORK40CLIENTINSTALLROOTDIR]EventLogMessages.dll"/>
      </Component>
      
      <!-- Remote R Host Broker service installer -->
      <Component Id="RemoteRBrokerService" Guid="{8379F8FB-B246-4D99-910A-84580B959BB7}" Win64="yes">
        <File Source="$(var.BinDir)\Microsoft.R.Host.Broker.dll" />
        <File Source="$(var.BinDir)\Microsoft.R.Host.Broker.Windows.exe" />
        <File Source="$(var.BinDir)\Microsoft.R.Host.Broker.Windows.exe.config" />
        <File Source="$(var.BinDir)\Microsoft.R.Host.Broker.Config.json" />
        <ServiceInstall Id="RemoteRBrokerServiceInstaller" Type="ownProcess" Vital="yes" Name="RRemoteService" DisplayName="R Remote Service"
                        Description="Creates and manages R Host sessions" Start="auto" Account="NT AUTHORITY\NETWORKSERVICE"
                        ErrorControl="normal" Interactive="no"
                        Arguments="--start.as service --config &quot;[INSTALLFOLDER]Microsoft.R.Host.Broker.Config.json&quot;">

          <util:PermissionEx User="Authenticated Users" ServiceStart="yes" ServiceStop="yes" ServicePauseContinue="yes"
              ServiceInterrogate="yes" ServiceChangeConfig="no" ServiceEnumerateDependents="yes" ServiceQueryConfig="yes"
              ServiceQueryStatus="yes" ServiceUserDefinedControl="yes" />
          <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="reboot"/>
          <ServiceDependency Id="RUserProfileService" Group="no"/>
        </ServiceInstall>
        <ServiceControl Id="RemoteRBrokerServiceUninstall" Name="RRemoteService" Remove="uninstall" Stop="uninstall"/>
        <fire:FirewallException Id="RBrokerSvcFirewallException" Name="Microsoft.R.Host.Broker" Program="[INSTALLFOLDER]Microsoft.R.Host.Broker.exe" Scope="any" Profile="all"/>
        <util:EventSource Log="Application" Name="RRemoteService" EventMessageFile="[NETFRAMEWORK40CLIENTINSTALLROOTDIR]EventLogMessages.dll"/>
      </Component>
    </DirectoryRef>
    <?include RtvsPackage.wxi ?>
    <!--<?ifdef LabBuild?>
    <?include LocalizedResources.wxi ?>
    <?endif?>-->
  </Fragment>
</Wix>
