<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.25123-Dev15Preview" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Editor" version="15.0.25123-Dev15Preview" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.0.25123-Dev15Preview" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.0.25123-Dev15Preview" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.0.25123-Dev15Preview" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="15.0.25123-Dev15Preview" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Threading" version="15.0.20-pre" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Validation" version="15.0.11-pre" targetFramework="net46" />
  <package id="System.Collections" version="4.0.10" targetFramework="net46" />
  <package id="System.Diagnostics.Debug" version="4.0.10" targetFramework="net46" />
  <package id="System.Globalization" version="4.0.10" targetFramework="net46" />
  <package id="System.Runtime.Extensions" version="4.0.10" targetFramework="net46" />
</packages>