<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="DevDivRuleSet" Description="DevDiv required checks." ToolsVersion="14.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1304" Action="Error" />
    <Rule Id="CA1305" Action="Error" />
    <Rule Id="CA1307" Action="Error" />
    <Rule Id="CA1309" Action="Error" />
    <Rule Id="CA1401" Action="Error" />
    <Rule Id="CA1805" Action="None" />
    <Rule Id="CA1807" Action="None" />
    <Rule Id="CA1817" Action="None" />
    <Rule Id="CA1818" Action="None" />
    <Rule Id="CA2001" Action="Error" />
    <Rule Id="CA2102" Action="Error" />
    <Rule Id="CA2103" Action="Error" />
    <Rule Id="CA2104" Action="Error" />
    <Rule Id="CA2105" Action="Error" />
    <Rule Id="CA2106" Action="Error" />
    <Rule Id="CA2107" Action="Error" />
    <Rule Id="CA2108" Action="Error" />
    <Rule Id="CA2109" Action="Error" />
    <Rule Id="CA2111" Action="Error" />
    <Rule Id="CA2112" Action="Error" />
    <Rule Id="CA2114" Action="Error" />
    <Rule Id="CA2115" Action="Error" />
    <Rule Id="CA2116" Action="Error" />
    <Rule Id="CA2117" Action="Error" />
    <Rule Id="CA2118" Action="Error" />
    <Rule Id="CA2119" Action="Error" />
    <Rule Id="CA2120" Action="Error" />
    <Rule Id="CA2121" Action="Error" />
    <Rule Id="CA2122" Action="Error" />
    <Rule Id="CA2124" Action="Error" />
    <Rule Id="CA2126" Action="Error" />
    <Rule Id="CA2153" Action="None" />
    <Rule Id="CA2209" Action="None" />
    <Rule Id="CA2219" Action="Error" />
    <Rule Id="CA2233" Action="Error" />
    <Rule Id="CA2234" Action="Error" />
    <Rule Id="CA3001" Action="None" />
    <Rule Id="CA3002" Action="None" />
    <Rule Id="CA3003" Action="None" />
    <Rule Id="CA3004" Action="None" />
    <Rule Id="CA3005" Action="None" />
    <Rule Id="CA3006" Action="None" />
    <Rule Id="CA3007" Action="None" />
    <Rule Id="CA3008" Action="None" />
    <Rule Id="CA3009" Action="None" />
    <Rule Id="CA3010" Action="None" />
    <Rule Id="CA3011" Action="None" />
    <Rule Id="CA3012" Action="None" />
    <Rule Id="CA3050" Action="None" />
    <Rule Id="CA3051" Action="None" />
    <Rule Id="CA3052" Action="None" />
    <Rule Id="CA3053" Action="None" />
    <Rule Id="CA3054" Action="None" />
    <Rule Id="CA3055" Action="None" />
    <Rule Id="CA3056" Action="None" />
    <Rule Id="CA3057" Action="None" />
    <Rule Id="CA3058" Action="None" />
    <Rule Id="CA3059" Action="None" />
    <Rule Id="CA3060" Action="None" />
    <Rule Id="CA3061" Action="None" />
    <Rule Id="CA3062" Action="None" />
    <Rule Id="CA3063" Action="None" />
    <Rule Id="CA3064" Action="None" />
    <Rule Id="CA3065" Action="None" />
    <Rule Id="CA3066" Action="None" />
    <Rule Id="CA3067" Action="None" />
    <Rule Id="CA3068" Action="None" />
    <Rule Id="CA3069" Action="None" />
    <Rule Id="CA3070" Action="None" />
    <Rule Id="CA3071" Action="None" />
    <Rule Id="CA3072" Action="None" />
    <Rule Id="CA3073" Action="None" />
    <Rule Id="CA3074" Action="None" />
    <Rule Id="CA3101" Action="None" />
    <Rule Id="CA3102" Action="None" />
    <Rule Id="CA3103" Action="None" />
    <Rule Id="CA3104" Action="None" />
    <Rule Id="CA3105" Action="None" />
    <Rule Id="CA3106" Action="None" />
    <Rule Id="CA3107" Action="None" />
    <Rule Id="CA3108" Action="None" />
    <Rule Id="CA3109" Action="None" />
    <Rule Id="CA3110" Action="None" />
    <Rule Id="CA3111" Action="None" />
    <Rule Id="CA3112" Action="None" />
    <Rule Id="CA3113" Action="None" />
    <Rule Id="CA3114" Action="None" />
    <Rule Id="CA3115" Action="None" />
    <Rule Id="CA3116" Action="None" />
    <Rule Id="CA3117" Action="None" />
    <Rule Id="CA3118" Action="None" />
    <Rule Id="CA3119" Action="None" />
    <Rule Id="CA3120" Action="None" />
    <Rule Id="CA3121" Action="None" />
    <Rule Id="CA3122" Action="None" />
    <Rule Id="CA3123" Action="None" />
    <Rule Id="CA3124" Action="None" />
    <Rule Id="CA3125" Action="None" />
    <Rule Id="CA3127" Action="None" />
    <Rule Id="CA3129" Action="None" />
    <Rule Id="CA3130" Action="None" />
    <Rule Id="CA3131" Action="None" />
    <Rule Id="CA3132" Action="None" />
    <Rule Id="CA3133" Action="None" />
    <Rule Id="CA3134" Action="None" />
    <Rule Id="CA3135" Action="None" />
    <Rule Id="CA3137" Action="None" />
    <Rule Id="CA3138" Action="None" />
    <Rule Id="CA3139" Action="None" />
    <Rule Id="CA3140" Action="None" />
    <Rule Id="CA3141" Action="None" />
    <Rule Id="CA3142" Action="None" />
    <Rule Id="CA3143" Action="None" />
    <Rule Id="CA3145" Action="None" />
    <Rule Id="CA3146" Action="None" />
    <Rule Id="CA5350" Action="None" />
    <Rule Id="CA5351" Action="None" />
    <Rule Id="CA5352" Action="None" />
    <Rule Id="CA5353" Action="None" />
    <Rule Id="CA5354" Action="None" />
    <Rule Id="CA5355" Action="None" />
    <Rule Id="CA5356" Action="None" />
    <Rule Id="CA5357" Action="None" />
    <Rule Id="CA900" Action="None" />
    <Rule Id="CA901" Action="None" />
    <Rule Id="CA903" Action="None" />
    <Rule Id="CA904" Action="None" />
    <Rule Id="CA905" Action="None" />
    <Rule Id="CA908" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.VisualStudio.Threading.Analyzers" RuleNamespace="Microsoft.VisualStudio.Threading.Analyzers">
    <Rule Id="VSTHRD001" Action="Info" />
    <Rule Id="VSTHRD002" Action="Info" />
    <Rule Id="VSTHRD003" Action="Info" />
    <Rule Id="VSTHRD004" Action="Info" />
    <Rule Id="VSTHRD010" Action="Info" />
    <Rule Id="VSTHRD011" Action="Info" />
    <Rule Id="VSTHRD012" Action="Info" />
    <Rule Id="VSTHRD100" Action="Info" />
    <Rule Id="VSTHRD101" Action="Info" />
    <Rule Id="VSTHRD102" Action="Info" />
    <Rule Id="VSTHRD103" Action="Info" />
    <Rule Id="VSTHRD104" Action="Info" />
    <Rule Id="VSTHRD105" Action="Info" />
    <Rule Id="VSTHRD106" Action="Info" />
    <Rule Id="VSTHRD107" Action="Info" />
    <Rule Id="VSTHRD108" Action="Info" />
    <Rule Id="VSTHRD109" Action="Info" />
    <Rule Id="VSTHRD110" Action="Info" />
    <Rule Id="VSTHRD200" Action="None" />
  </Rules>
</RuleSet>