body {
    background: rgb(36,36,36);
    color: white;
    font-family: Segoe UI;
    font-size: 9pt;
    scrollbar-highlight-color: rgb(62,62,66);
    scrollbar-3dlight-color: rgb(62,62,66);
    scrollbar-darkshadow-color: rgb(62,62,66);
    scrollbar-shadow-color: rgb(62,62,66);
    scrollbar-face-color: rgb(100,100,100);
    scrollbar-arrow-color: rgb(153,153,153);
    scrollbar-track-color: rgb(62,62,66);
}

p {
    font-family: Segoe UI;
    font-size: 9pt;
}

a:link {
    background: rgb(36,36,36);
    color: #00a4ff;
    font-family: Segoe UI;
}

a:visited {
    background: rgb(36,36,36);
    color: rgb(211, 5, 207);
    font-family: Segoe UI;
}

h1 {
    background: rgb(36,36,36);
    color: rgb(80%, 80%, 80%);
    font-family: Segoe UI;
    font-size: 14pt;
    text-align: center;
}

h2 {
    background: rgb(36,36,36);
    color: rgb(65%, 65%, 65%);
    font-family: Segoe UI;
    font-size: 11pt;
    text-align: center;
}

h3 {
    background: rgb(36,36,36);
    color: rgb(65%, 65%, 65%);
    font-family: Segoe UI;
    font-size: 11pt;
}

h4 {
    background: rgb(36,36,36);
    color: rgb(65%, 65%, 65%);
    font-family: Segoe UI;
    font-style: italic;
    font-size: 11pt;
}

h5 {
    background: rgb(36,36,36);
    color: rgb(65%, 65%, 65%);
    font-family: Segoe UI;
}

h6 {
    background: rgb(36,36,36);
    color: rgb(65%, 65%, 65%);
    font-family: 'Segoe UI';
    font-style: italic;
}

img.toplogo {
    width: 4em;
    vertical-align: middle;
}

img.arrow {
    width: 30px;
    height: 30px;
    border: 0;
}

span.acronym {
    font-size: small;
}

span.env {
    font-family: Consolas;
}

span.file {
    font-family: Consolas;
}

span.option {
    font-family: Consolas;
}

span.pkg {
    font-weight: bold;
}

span.samp {
    font-family: Consolas;
}

div.vignettes a:hover {
    background: rgb(60%, 60%, 60%);
}

pre {
    font-family: Consolas;
}

code {
    font-family: Consolas;
}

img {
    border: 1px solid;
    border-color: rgb(196, 196, 196);
}

div.sourceCode {
    background-color: rgb(12, 12, 12);
    line-height: 150%;
    padding-left: 8px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

code[class] {
    background: rgb(12, 12, 12);
}

pre {
    background: rgb(12, 12, 12);
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}
